.radar-outline {
    width: 83vh;
    height: 83vh;
    border-radius: 50%;
    border: 50px dashed #95C7FD;
    opacity: 0.7;
    transform: translate(40%, 22%);
}

.radar-body {
    position: relative;
    width: 82vh;
    height: 82vh;
    border-radius: 50%;
    background: black;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.radar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 76vh;
    height: 76vh;
    border-radius: 50%;
    border: 20px solid black;
    background: black;
    background-size: cover;
    box-shadow: inset 0 0 100px #95C7FD;
    overflow: hidden;
    z-index: 2;
}

.radar li:nth-child(1),
.radar li:nth-child(2),
.radar li:nth-child(3),
.radar li:nth-child(4) {
    list-style: none;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    border-radius: 50%;
    background: #95C7FD;
    opacity: 0.7;
}

.radar li:nth-child(1) {
    opacity: 0.4 !important;
}

.radar li:nth-child(2) {
    transform: rotate(45deg);
}

.radar li:nth-child(3) {
    transform: rotate(90deg);
}

.radar li:nth-child(4) {
    transform: rotate(135deg);
}

.radar li:nth-child(5),
.radar li:nth-child(6),
.radar li:nth-child(7) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #95C7FD;
    background: transparent;
    border-radius: 50%;
    opacity: 0.7;
}

.radar li:nth-child(5) {
    width: 15vh;
    height: 15vh;
}

.radar li:nth-child(6) {
    width: 30vh;
    height: 30vh;
}

.radar li:nth-child(7) {
    width: 45vh;
    height: 45vh;
}

.radar li:nth-child(8) {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180%;
    height: 50%;
    transform-origin: top left;
    background: linear-gradient(45deg, #95C7FD 0%, transparent 43%);
    animation: animate 3s linear infinite;
}

.radar li:nth-child(9),
.radar li:nth-child(10),
.radar li:nth-child(11),
.radar li:nth-child(12) {
    list-style: none;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #95C7FD;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}
.radar li:nth-child(9){
    top: 15%;
    left: 30%;
}

.radar li:nth-child(10) {
    top: 25%;
    left: 60%;
}
.radar li:nth-child(11) {
    top: 88%;
    left: 40%;
}

.radar li:nth-child(12) {
    top: 65%;
    left: 60%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}